.offcanvas-body {
  .accordion,
  .accordion-item,
  .accordion-header {
    background-color: transparent;
    color: inherit;
  }

  .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .75rem 1.25rem;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    color: inherit;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    transition: $transition-opacity;
    cursor: pointer;

  }
}

.form-switch {
  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }
  .form-check-input {
    margin: 0;
  }
}

.sidebar-selector {
  position: relative;
  .sidebar-selector-label {
    transition: $transition-opacity;
    &:hover,
    &.show {
      opacity: .75;
    }
  }
  .dropdown-menu {
    width: 100%;
  }
}

.sidebar-button {
  &:hover,
  &:focus {
    opacity: .75;
  }
  &:focus-visible {
    outline: 0;
    box-shadow: $focus-within-shadow-dark;
  }
  i::before {
    transition: $transition-ease;
  }
  &.collapsed {
    i::before {
      transform: rotate(360deg);
    }
  }
  &.active {
    &::after {
      content: "\f285";
      display: inline-block;
      font-family: 'bootstrap-icons'!important;
      font-style: normal;
      font-weight: normal;
      font-feature-settings: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -.125em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

body.dark {
  .offcanvas {
    background-color: $gray-800;
    color: $gray-300;
  }

  .sidebar-selector {
    .dropdown-menu {
      background-color: $gray-900;
    }
  }
}