@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/variables";
@import "sass";

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  padding-right: 0 !important;
}

body.dark {
  color: $gray-300;
  background-color: $gray-700;
}

.focus-within:focus-within {
  box-shadow: $focus-within-shadow-dark;

  &.sidebar-button {
    opacity: .75;
  }
}

.modal {
  background-color: rgba(0,0,0,.5);
}