@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/variables";
@import "sass";

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  padding-right: 0 !important;
}

body.dark {
  color: $gray-300;
  background-color: $gray-700;


}

.focus-within:focus-within {
  box-shadow: $focus-within-shadow-dark;

  &.sidebar-button {
    opacity: .75;
  }
}

.dark {
  .form-control {
    border: 1px solid $gray-500;
    background-color: $gray-600;
    color: $gray-400;

    &:focus {
      box-shadow: $focus-shadow-dark;
    }

    &::placeholder {
      color: $gray-500;
    }
  }
}

.bg-gray-dark {
  background-color: $gray-800;

  .form-control {
    border: 1px solid $gray-600;
    background-color: $gray-700;

    &::placeholder {
      color: $gray-600;
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}