$focus-within-shadow-dark: 0 0 0 .125rem rgba(108, 117, 125, 0.5);
$focus-within-shadow-light: 0 0 0 .125rem rgba(248, 249, 250, 0.5);
$focus-shadow-blue: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
$focus-shadow-cian: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);

$height-navbar: 56px;

$transition-ease: .15s ease-in-out;
$transition-ease-long: .3s ease-in-out;
$transition-opacity: opacity 0.15s ease-in-out;
$transition-background-color: background-color 0.15s ease-in-out;

